[submodule "lib/spdlog"]
	path = lib/spdlog
	url = http://github.com/gabime/spdlog
[submodule "lib/reverse-engineering-dungeon-siege"]
	path = lib/reverse-engineering-dungeon-siege
	url = http://github.com/sbrkopac/reverse-engineering-dungeon-siege
